<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <table class="table" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center">
                <img src="cid:betta_logo" alt="Header Image" width="300px">
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <h1>Welcome to Our Community!</h1>
                <p class="lead">Dear <%= username %>,</p>
                <p class="lead">Thank you for signing up with us. We are thrilled to welcome you to our community!</p>
                <p class="lead">We hope you enjoy your experience with us and find our services helpful. If you have any questions or need assistance, please don't hesitate to contact us.</p>
                <p class="lead">Once again, welcome aboard!</p>
                <p>Best regards,</p>
                <p>The Betta Empire Team</p>
            </td>
        </tr>
    </table>
</body>
</html>